# HW 2

due Thursday Sep 16, at 11:59 pm. 

Keep the following in mind for all notebooks you develop:
* Structure your notebook. 
* Use headings with meaningful levels in Markdown cells, and explain the questions each piece of code is to answer or the reason it is there.
* Make sure your notebook can always be rerun from top to bottom.

Provided Jupyter notbook includes several notes, documentation and examples followed by coding challenges. 
* This assignment will cover several aspects in Python programming. 
* Python documentation has many examples, you can run these examples in your own version of notebook.
  1.   Data Structures | [tutorial](https://docs.python.org/3.8/tutorial/datastructures.html)
  2.   Input/Output | [tutorial](https://docs.python.org/3.8/tutorial/inputoutput.html) 
  3.   Errors and Exceptions | [tutorial](https://docs.python.org/3.8/tutorial/errors.html) 
  4.   Numpy | [quickstart](https://numpy.org/devdocs/user/quickstart.html)


* Follow [README.md](README.md) for homework submission instructions

**NOTE** Please start working on this assignment as soon as possible. If you are a beginner in Python this might take a long time. The objective of this assignment is to help you learn python.**

## Data Structures

### List
List as it's name implies is a list data type. A list can contain similar or mixed types (including another list) of data. A list is implemented in different ways, example:

In [1]:
#Initialization of a list
myfirstlist = list() #first way
myfirstlist = [] #second way

#### Section A
In jupyter notebook environment, commands starting with the symbol % are magic commands or magic functions. %%timeit is one of such function. It basically gives you the speed of execution  of certain statement or blocks of codes. Example below:

In [2]:
%%timeit
myfirstlist = list()

The slowest run took 20.87 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 5: 115 ns per loop

In [3]:
%%timeit 
myfirstlist = []

10000000 loops, best of 5: 34.7 ns per loop

**Q1: Based on above experiment which one is the fastest?**
Write your answer in the markdown format in the cell below:

**A1:** On average myfirstlist = [ ] would be teh faster of the two lines of code.

#### Section B
range() is one of the inbuilt functions in python. 
It is super handy to create a list of numbers that ranges from one value to another value. We can create a list of range of values in both ascending and descending order.

Jupyter notebook has a quick way to review the documentation.  You have to add '?' before or after the function and run the cell. The following both are valid: ?range or range?, see example below:

In [4]:
?range

Range takes 3 arguments, (start, end, step) as we have learned in the class. If you provide only one value eg. range(5), your default start is 0.

In [5]:
# lets create few lists with the help of range()
list1 = list(range(5)) #Numbers from 0 t o 5 (but not 5, note end is exclusive)
list2 = list(range(5, 10)) #Numbers from 5 to 10 (exclusive end)
list3 = list(range(0, 20, 2)) # Even numbers from 0 to 20 (end is exclusive)

print(list1)
print(list2)
print(list3)

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

**Q2:  Complete the code**

**A2:** Replace the question marks '?' with the right values in the code below

In [6]:
# even440 is a list of even numbers from 4 to 40 
# being inclusive (must include 40 if 40 is even)
even440 = list(range(4,41,2))
print('even440 : ', even440)

# odd540 is a list of odd numbers from 5 to 40
# being inclusive (must include 40 if 40 is odd)
odd540 = list(range(5,41,2))
print('odd540 : ', odd540)# 1.1 DATA STRUCTURE

# Complete the code a list of multiples of 5 from 25 to 100 
# being inclusive (must include 100 if 100 is a multiple of 5) 
mof5 = list(range(25,101,5))
print('mof5 : ', mof5)

# list from 10 to 0 (must include 10 but not 0)
from10to0 = list(range(1,11,1))
print('from10to0 : ', from10to0)

even440 :  [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]
odd540 :  [5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]
mof5 :  [25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
from10to0 :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Section C
List has many methods implemented, and there are inbuilt functions (sorted, max, min ...) you can call on a list. In following example we create a random list using the 'random' module. The method we used here for list construction is called list comprehension

In [7]:
import random
random.seed(4347) #Do not change this seed

x = [random.randint(0,100) for i in range(5)]
print(f'x : {x}') # Note here we use f string, this was introduce in python 3.6x and it is very easier to work with

sortedx = sorted(x)
print(f'sortedx : {sortedx}')

sumofx = sum(x)
print(f'sumofx : {sumofx}')

maxofx = max(x)
print(f'maxofx : {maxofx}')

minofx = min(x)
print(f'minofx : {minofx}')

lenofx = len(x)
print(f'length of x is : {lenofx}')

revofx = list(reversed(x))
print(f'reversed of x is : {revofx}')

x : [68, 38, 71, 65, 23]
sortedx : [23, 38, 65, 68, 71]
sumofx : 265
maxofx : 71
minofx : 23
length of x is : 5
reversed of x is : [23, 65, 71, 38, 68]

If you type ```x``` in a cell and wait you see a list of available methods; if nothing appears press ```ctrl+space```.  We recommend that you play with all methods. Try to see how each of them works by reading the documentation. You now know the trick to open documentation using '?'

In [8]:
x

[68, 38, 71, 65, 23]

The following code prints all the methods that are implemented for List

In [9]:
print(dir(list)) # ignore the detail here

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

Methods that starts with ```'__'``` are called dunder methods (or magic methods) and they are special methods. They are also refered to as data models, and we will use them later in the class.

In [10]:
print([*filter(lambda x:not x.startswith('__'),dir(list))]) # ignore the detail here

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

**Q3:** Based on what you have learned from above. Experiment with ```sort()``` list method and python generic ```sorted(<list>)``` method and explain the difference.

In [11]:
# Code goes here for comparing sort() and sorted()
# Note you can add multiple code cell if you want
x.sort()
x

[23, 38, 65, 68, 71]

In [12]:
sorted(x)
print(f'sortedx : {x}')
x = sorted(x)
x

sortedx : [23, 38, 65, 68, 71]

[23, 38, 65, 68, 71]

In [13]:
%%timeit 
x.sort()

The slowest run took 25.70 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 5: 136 ns per loop

In [14]:
%%timeit 
sorted(x)

The slowest run took 22.13 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 5: 230 ns per loop

**A3**: I found two differences between the two to note one is that x.sort is slightly quicker and that x.sort actually modifies that list being called while sorted(x) creates a copy in which it will sort the given values.

**Q4:** Create a random list 'x' of size 25?

In [15]:
#A4: Code goes here for creating a random list of size 25
x = [random.randint(0,100) for i in range(25)]
print(f'x : {x}')

x : [26, 18, 23, 18, 15, 16, 6, 69, 3, 81, 47, 68, 80, 93, 21, 66, 13, 37, 98, 49, 56, 53, 88, 9, 13]

#### Section D
One of the important things to learn is about indexing of the list. List index starts from 0.
If you write x[0], it means you are refering to first item of list, and x[-1] means you are indexing last item of the list. But there are more way you can index a list, e.g. in following way x[start:end:step].

In [16]:
# Now you are capable of creating a random list, study following examples 
print(f'x : {x}')
print(f'x from 2 to 5 : {x[2:5]}')
print(f'x from 2 to 25 with step 3 : {x[2:25:3]}')
print(f'last member of x : {x[-1]}')

x : [26, 18, 23, 18, 15, 16, 6, 69, 3, 81, 47, 68, 80, 93, 21, 66, 13, 37, 98, 49, 56, 53, 88, 9, 13]
x from 2 to 5 : [23, 18, 15]
x from 2 to 25 with step 3 : [23, 16, 3, 68, 21, 37, 56, 9]
last member of x : 13

**Q5:** Based on the cell above, Which answer is correct:
1.List index start and end values are inclusive"
2. List index start and end are non-inclusive
3. Start is inclusive end is not
4. End is inclusive start is not
**A5:** Start is inclusive end is not

**Q6:** Without using the reversed() function, reverse 'x' with the help of indexing

In [17]:
# A6 code goes here
x.reverse()
print(f'x : {x}')

x : [13, 9, 88, 53, 56, 49, 98, 37, 13, 66, 21, 93, 80, 68, 47, 81, 3, 69, 6, 16, 15, 18, 23, 18, 26]

**Q7** Imagine 'listoflist' is a list containing many lists What may listoflist[3][8] refer to?
**A7**: listoflist[3][8] is refering to a element that is in the third column starting from zero going to eighth row in the listoflist's elements.

In [18]:
# test code goes here 
Newlist1 = list(range(10)) 
Newlist2 = list(range(10))
Newlist3 = list(range(10)) 
listoflist = []
listoflist.append(Newlist1)
Newlist2.reverse()
listoflist.append(Newlist2)
listoflist.append(Newlist3)
print(f'listoflist : {listoflist}')
print(f'listoflist : {listoflist[1][6]}') 
print(f'listoflist : {listoflist[2][8]}') 
print()#leave this print as it is

listoflist : [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [9, 8, 7, 6, 5, 4, 3, 2, 1, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]
listoflist : 3
listoflist : 8

### Tuple

Tuple is an immutable data structure in python, similar to the list. Please do research in the mutable and immutable nature of data structures in python. Immutability offers performance advantages over mutable data structures. Once a tuple is assigned with some values it is fixed. A tuple can be initialized in following ways.

In [19]:
# Please do some research to learn more about tuples.
x = tuple()
x = ("blue", 42, "set", 1)
y = tuple()
y = ("yes", "no", "maybe", "?")
listoftuples = []
listoftuples.append(x)
listoftuples.append(y)
print(f'List of Tuples : {listoftuples}')

List of Tuples : [('blue', 42, 'set', 1), ('yes', 'no', 'maybe', '?')]

**Q8** Creating a Pandas dataframe using list of tuples. Use four different columns in the ```dataframe[Name,Country,Age,Salary]```. Give atleast five tuples as data. Use Pandas dataframe ```constructor(pd.DataFrame(data, columns)``` for creating the dataframe.

In [20]:
# A8: Your code goes here
import pandas as pd
dataTuple = tuple()
dataTuple =[('Alice', 'Canada', 40, 100000),
            ('Janice', 'United Kingdom', 25, 60000),
            ('John', 'United States', 62, 125000),
            ('Charlotte', 'United Staes', 51, 128000),
            ('Ziva', 'Israel', 21, 55000)]
df = pd.DataFrame(data=dataTuple, columns=['Name', 'Country', 'Age', 'Salary'])
df

        Name         Country  Age  Salary
0      Alice          Canada   40  100000
1     Janice  United Kingdom   25   60000
2       John   United States   62  125000
3  Charlotte    United Staes   51  128000
4       Ziva          Israel   21   55000

### Set
Set is a mutable data structure
Set corresponds to set as in math
A list allows repeated elements but set does not
Set has methods built in for set operations like
Intersection, Union, Set Difference and others
A list can be converted into set by calling set(x)

In [21]:
# Initializing set
import random
from random import randrange #import this to create a random list
random.seed()

x = set()

randlist = [randrange(0,10) for i in range(20)]
print(f'randlist : {randlist}')

setfromrandlist = set(randlist)
print(f'setfromrandlist : {setfromrandlist}')

randlist : [0, 2, 7, 0, 0, 7, 3, 0, 2, 5, 5, 7, 0, 8, 9, 4, 2, 0, 6, 3]
setfromrandlist : {0, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:
# Fundamental Set operations
a = set([randrange(0,50) for i in range(20)])
b = set([randrange(0,50) for i in range(20)])

print(f'a : {a}')
print(f'b : {b}')

a : {2, 9, 10, 12, 15, 18, 19, 25, 26, 28, 30, 31, 35, 36, 38, 40, 42, 43, 46}
b : {2, 3, 4, 5, 39, 9, 42, 11, 44, 13, 16, 20, 21, 26, 28, 30}

In [23]:
union = a.union(b)
intersection = a.intersection(b)
difference = a.difference(b)

print(f'union : {union}')
print(f'intersection : {intersection}')
print(f'difference : {difference}')

union : {2, 3, 4, 5, 9, 10, 11, 12, 13, 15, 16, 18, 19, 20, 21, 25, 26, 28, 30, 31, 35, 36, 38, 39, 40, 42, 43, 44, 46}
intersection : {2, 9, 42, 26, 28, 30}
difference : {35, 36, 38, 40, 10, 43, 12, 46, 15, 18, 19, 25, 31}

**Lowest Common Multiple (LCM) math problem**: lowest common multiple of numbers is the minimum of the intersection of their multiples. For (2,3), ```multipleof3 = {3,6,9,12,15,...}```, ```multipleof2 = {2,4,6,8,10,12,...}```, ```commonmultiple = {6, 12, ...}```. 
LCM is minimum of commonmultiple that is 6.

**Q9**: Find the LCM of 8, 9 and 12 (use the set and list concepts).

In [24]:
# A9 Your code goes here
m8 = list(range(8,500,8))
m9 = list(range(9,500,9))
m12 = list(range(12,500,12))
sm8 = set(m8)
sm9 = set(m9)
sm12 = set(m12)
cm = set()
cm = sm8.intersection(sm9)
cm = cm.intersection(sm12)
cmlist = list(cm)
cmlist.sort()
cmlist[0]

72

### Dictionary
Dictionary holds key value pairs
Values can be accessed by using keys
Lets see few of the ways to create a dictionary:

In [25]:
a = {'a':1, 'b':2, 'c':3, 'd':4}
print(f'a : {a}')

b = dict(zip(['a','b','c','d'], [1,2,3,4]))
print(f'b : {b}')

c = dict(iter([('a',1),('b',2),('c',3),('d',4)]))
print(f'c : {c}')

d = dict(a=1, b=2, c=3, d=4)
print(f'd : {d}')

# Accessing values using keys in dictionary
print(d['a'])#getting values corresponding to key a

a : {'a': 1, 'b': 2, 'c': 3, 'd': 4}
b : {'a': 1, 'b': 2, 'c': 3, 'd': 4}
c : {'a': 1, 'b': 2, 'c': 3, 'd': 4}
d : {'a': 1, 'b': 2, 'c': 3, 'd': 4}
1

Following example is how we define a very simple function:
```getfrom(dictionary,keys)``` is a function that returns a value given a key and a dictionary as arguments.

In [26]:
# A very simple function
def getfrom(dictionary, keys):
  values = dictionary[keys]
  return values

In [27]:
# lets use this function to get values corresponding to key 'a' from dictionary 'd'
values = getfrom(dictionary=d, keys='a')
print(f'values correspoding to a is {values}')

values correspoding to a is 1

In [28]:
# Try to access 'z' which is not in 'd'
values = getfrom(dictionary=d, keys = 'z')
print(f'values correspoding to z is {values}')

KeyError: ignored

The error is called a key error!
List, like dictionary, has different methods implemented: ```'clear', 'copy', 'fromkeys',...```
Use one of the built-in dictionary methods to accomplish following task:

**Q10**: Complete the function, so that if you don't have a key return 999.

In [29]:
# A10: Code goes here
def getfrom(dictionary, keys):
  # values = ? #complete your code here
  values = 999
  # check if keys in dict
  if keys is not dictionary:
    return values #should return 999 if key doesn't exist
print(getfrom(dictionary=d, keys='z'))

999

**Q11**: Complete the function, so that if you don't have a key then the code returns 999 and adds 999 to dictionary.

In [30]:
# Code goes here
def getfrom(dictionary, keys):
  values = 999
  # check if keys in dict
  if keys is not dictionary:
    dictionary[keys]=+values
    return values #should return 999 if key doesn't exist

print(getfrom(dictionary=d, keys='z'))

# Now this shouldn't throw error as 'z' is now set to dictionary
print(d['z'])

999
999

## Numpy

Study the given publicly available numpy exercises notebook file and complete the given code. (Note you don't have to go through all notebook, just focus on things you need). Please refer to following amazing notebook [excersizes](https://github.com/rougier/numpy-100/blob/master/100_Numpy_exercises.ipynb). This notebook will give you fundamental understanding of numpy. Based on few examples on above notebook answer the follwing questions.

**Q12**: Create two random numpy array of size 10, 10 ```array1 = ?```. Now we have our list x to discover methods implemented there is a technique if you type x. in a cell and wait you see list of methods if you nothing appears press ```ctrl+space```. You are suggested to play with few methods, if possible all methods. Try to see how it works by reading documentation ...
And now you now know the tricks to open documentation using '?'

In [31]:
# Create two random numpy array of size 10, 10
import numpy as np
array1 = np.random.random((10,10))
array2 = np.random.random((10,10))

#Perform simple matrix addition
add12 = np.add(array1,array2)

# Perform matrix multiplication between these two numpy array
mm12 = np.matmul(array1,array2)

# Perform element wise multiplication between these two array
mmelement = np.multiply(array1,array2)
## Calculate mean, standard deviation and variance of mm12
mean = np.mean(mm12)
std = np.std(mm12)
var = np.var(mm12)

## Submission Instructions

1. select the 'Kernel' menu and choose 'Restart and Run All'.  This will also help you test requirement (2) above: that the notebook can be rerun from top to bottom.
2. Save the notebook. Your submitted notebook **must include results**.  
3. Copy it to your local ML/NetID.git repo 
   ```
   git add HW2.ipynb
   git commit -m "HW2 submission"
   git push origin
   ```
   OR upload to `HW2.ipynb` file to https://git.txstate.edu/ML/<NetID>.git