In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('2015-16.csv')

In [3]:
df1.shape

(100570, 27)

In [4]:
df2 = pd.read_csv('2016-17.csv')

In [5]:
df2.shape

(99860, 30)

In [6]:
df3 = pd.read_csv('2017-18.csv')

In [7]:
df3.shape

(99355, 30)

In [8]:
df4 = pd.read_csv('2018-19.csv')

In [9]:
df4.shape

(99617, 29)

In [10]:
df1.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'County Name [Public School] 2015-16',
       'Charter School [Public School] 2015-16',
       'Magnet School [Public School] 2015-16',
       'Urban-centric Locale [Public School] 2015-16',
       'School-wide Title I [Public School] 2015-16',
       'Title I Eligible School [Public School] 2015-16',
       'National School Lunch Program [Public School] 2015-16',
       'Total Students All Grades (Excludes AE) [Public School] 2015-16',
       'Free Lunch Eligible [Public School] 2015-16',
       'Reduced-price Lunch Eligible Students [Public School] 2015-16',
       'Free and Reduced Lunch Students [Public School] 2015-16',
       'Male Students [Public School] 2015-16',
       'Female Students [Public School] 2015-16',
       'American Indian/Alaska Native Students [Public School] 2015-16',
       'Asian or Asian/Pacific Islander Students [Public School] 2015-16',
       'Hispanic Students [Public School] 2015-16',
       'Black or African American Students [Public School] 2015-16',
       'White Students [Public School] 2015-16',
       'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2015-16',
       'Two or More Races Students [Public School] 2015-16',
       'Total Race/Ethnicity [Public School] 2015-16',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2015-16',
       'Pupil/Teacher Ratio [Public School] 2015-16'],
      dtype='object')

In [11]:
df1.drop( columns = ['National School Lunch Program [Public School] 2015-16',
                     'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2015-16',
                     'Two or More Races Students [Public School] 2015-16',
                     
                    ], inplace = True)

df2.drop( columns = ['Shared Time School [Public School] 2016-17',
                     'Title I School Status [Public School] 2016-17',
                     'National School Lunch Program [Public School] 2016-17',
                     'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2016-17',
                     'Two or More Races Students [Public School] 2016-17',
                     'Direct Certification [Public School] 2016-17'
                    ], inplace = True)

df3.drop( columns = ['Shared Time School [Public School] 2017-18',
                     'Title I School Status [Public School] 2017-18',
                     'National School Lunch Program [Public School] 2017-18',
                     'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2017-18',
                     'Two or More Races Students [Public School] 2017-18',
                     'Direct Certification [Public School] 2017-18'
                    ], inplace = True)

df4.drop( columns = ['Title I School Status [Public School] 2018-19',
                     'National School Lunch Program [Public School] 2018-19',
                     'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2018-19',
                     'Two or More Races Students [Public School] 2018-19',
                     'Direct Certification [Public School] 2018-19'
                    ], inplace = True)

In [12]:
df2.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'County Name [Public School] 2016-17',
       'Charter School [Public School] 2016-17',
       'Magnet School [Public School] 2016-17',
       'Urban-centric Locale [Public School] 2016-17',
       'School-wide Title I [Public School] 2016-17',
       'Title I Eligible School [Public School] 2016-17',
       'Total Students All Grades (Excludes AE) [Public School] 2016-17',
       'Free Lunch Eligible [Public School] 2016-17',
       'Reduced-price Lunch Eligible Students [Public School] 2016-17',
       'Free and Reduced Lunch Students [Public School] 2016-17',
       'Male Students [Public School] 2016-17',
       'Female Students [Public School] 2016-17',
       'American Indian/Alaska Native Students [Public School] 2016-17',
       'Asian or Asian/Pacific Islander Students [Public School] 2016-17',
       'Hispanic Students [Public School] 2016-17',
       'Black or African American Students [Public School] 2016-17',
       'White Students [Public School] 2016-17',
       'Total Race/Ethnicity [Public School] 2016-17',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2016-17',
       'Pupil/Teacher Ratio [Public School] 2016-17'],
      dtype='object')

In [13]:
df3.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'County Name [Public School] 2017-18',
       'Charter School [Public School] 2017-18',
       'Magnet School [Public School] 2017-18',
       'Urban-centric Locale [Public School] 2017-18',
       'School-wide Title I [Public School] 2017-18',
       'Title I Eligible School [Public School] 2017-18',
       'Total Students All Grades (Excludes AE) [Public School] 2017-18',
       'Free Lunch Eligible [Public School] 2017-18',
       'Reduced-price Lunch Eligible Students [Public School] 2017-18',
       'Free and Reduced Lunch Students [Public School] 2017-18',
       'Male Students [Public School] 2017-18',
       'Female Students [Public School] 2017-18',
       'American Indian/Alaska Native Students [Public School] 2017-18',
       'Asian or Asian/Pacific Islander Students [Public School] 2017-18',
       'Hispanic Students [Public School] 2017-18',
       'Black or African American Students [Public School] 2017-18',
       'White Students [Public School] 2017-18',
       'Total Race/Ethnicity [Public School] 2017-18',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2017-18',
       'Pupil/Teacher Ratio [Public School] 2017-18'],
      dtype='object')

In [14]:
df4.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'County Name [Public School] 2018-19',
       'Charter School [Public School] 2018-19',
       'Magnet School [Public School] 2018-19',
       'Urban-centric Locale [Public School] 2018-19',
       'School-wide Title I [Public School] 2018-19',
       'Title I Eligible School [Public School] 2018-19',
       'Total Students All Grades (Excludes AE) [Public School] 2018-19',
       'Free Lunch Eligible [Public School] 2018-19',
       'Reduced-price Lunch Eligible Students [Public School] 2018-19',
       'Free and Reduced Lunch Students [Public School] 2018-19',
       'Male Students [Public School] 2018-19',
       'Female Students [Public School] 2018-19',
       'American Indian/Alaska Native Students [Public School] 2018-19',
       'Asian or Asian/Pacific Islander Students [Public School] 2018-19',
       'Hispanic Students [Public School] 2018-19',
       'Black or African American Students [Public School] 2018-19',
       'White Students [Public School] 2018-19',
       'Total Race/Ethnicity [Public School] 2018-19',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2018-19',
       'Pupil/Teacher Ratio [Public School] 2018-19'],
      dtype='object')

In [15]:
df1 = df1.rename( columns = {
       'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2015-16' : 'COUNTY',
       'Charter School [Public School] 2015-16' : 'CHARTER',
       'Magnet School [Public School] 2015-16' : 'MAGNET',
       'Urban-centric Locale [Public School] 2015-16' : 'LOCALE',
       'School-wide Title I [Public School] 2015-16' : 'TITLE I',
       'Title I Eligible School [Public School] 2015-16' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2015-16' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2015-16' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2015-16' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2015-16' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2015-16' : 'MALE STUDENTS',
       'Female Students [Public School] 2015-16' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2015-16' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2015-16' : 'ASIAN',
       'Hispanic Students [Public School] 2015-16' : 'HISPANIC',
       'Black or African American Students [Public School] 2015-16' : 'BLACK',
       'White Students [Public School] 2015-16' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2015-16' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2015-16' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2015-16' : 'PUPIL-TEACHER RATIO'
})

In [16]:
df2.columns

Index(['School Name', 'State Name [Public School] Latest available year',
       'School ID - NCES Assigned [Public School] Latest available year',
       'State Abbr [Public School] Latest available year',
       'County Name [Public School] 2016-17',
       'Charter School [Public School] 2016-17',
       'Magnet School [Public School] 2016-17',
       'Urban-centric Locale [Public School] 2016-17',
       'School-wide Title I [Public School] 2016-17',
       'Title I Eligible School [Public School] 2016-17',
       'Total Students All Grades (Excludes AE) [Public School] 2016-17',
       'Free Lunch Eligible [Public School] 2016-17',
       'Reduced-price Lunch Eligible Students [Public School] 2016-17',
       'Free and Reduced Lunch Students [Public School] 2016-17',
       'Male Students [Public School] 2016-17',
       'Female Students [Public School] 2016-17',
       'American Indian/Alaska Native Students [Public School] 2016-17',
       'Asian or Asian/Pacific Islander Students [Public School] 2016-17',
       'Hispanic Students [Public School] 2016-17',
       'Black or African American Students [Public School] 2016-17',
       'White Students [Public School] 2016-17',
       'Total Race/Ethnicity [Public School] 2016-17',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2016-17',
       'Pupil/Teacher Ratio [Public School] 2016-17'],
      dtype='object')

In [17]:
df2 = df2.rename( columns = {
        'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2016-17' : 'COUNTY',
       'Charter School [Public School] 2016-17' : 'CHARTER',
       'Magnet School [Public School] 2016-17' : 'MAGNET',
       'Urban-centric Locale [Public School] 2016-17' : 'LOCALE',
       'School-wide Title I [Public School] 2016-17' : 'TITLE I',
       'Title I Eligible School [Public School] 2016-17' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2016-17' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2016-17' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2016-17' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2016-17' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2016-17' : 'MALE STUDENTS',
       'Female Students [Public School] 2016-17' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2016-17' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2016-17' : 'ASIAN',
       'Hispanic Students [Public School] 2016-17' : 'HISPANIC',
       'Black or African American Students [Public School] 2016-17' : 'BLACK',
       'White Students [Public School] 2016-17' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2016-17' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2016-17' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2016-17' : 'PUPIL-TEACHER RATIO'

})

In [18]:
df3 = df3.rename( columns = {
    'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2017-18' : 'COUNTY',
       'Charter School [Public School] 2017-18' : 'CHARTER',
       'Magnet School [Public School] 2017-18' : 'MAGNET',
       'Urban-centric Locale [Public School] 2017-18' : 'LOCALE',
       'School-wide Title I [Public School] 2017-18' : 'TITLE I',
       'Title I Eligible School [Public School] 2017-18' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2017-18' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2017-18' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2017-18' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2017-18' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2017-18' : 'MALE STUDENTS',
       'Female Students [Public School] 2017-18' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2017-18' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2017-18' : 'ASIAN',
       'Hispanic Students [Public School] 2017-18' : 'HISPANIC',
       'Black or African American Students [Public School] 2017-18' : 'BLACK',
       'White Students [Public School] 2017-18' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2017-18' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2017-18' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2017-18' : 'PUPIL-TEACHER RATIO'
})

In [19]:
df4 = df4.rename( columns = {
    'School Name' : 'SCHOOL', 
        'State Name [Public School] Latest available year' : 'STATE',
       'State Abbr [Public School] Latest available year' : 'ABBR',
       'School ID - NCES Assigned [Public School] Latest available year' : 'ID',
       'County Name [Public School] 2018-19' : 'COUNTY',
       'Charter School [Public School] 2018-19' : 'CHARTER',
       'Magnet School [Public School] 2018-19' : 'MAGNET',
       'Urban-centric Locale [Public School] 2018-19' : 'LOCALE',
       'School-wide Title I [Public School] 2018-19' : 'TITLE I',
       'Title I Eligible School [Public School] 2018-19' : 'TITLE I ELIGIBLE',
       'Total Students All Grades (Excludes AE) [Public School] 2018-19' : 'TOTAL STUDENTS',
       'Free Lunch Eligible [Public School] 2018-19' : 'FREE LUNCH ELIGIBLE' ,
       'Reduced-price Lunch Eligible Students [Public School] 2018-19' : 'REDUCED PRICE LUNCH ELIGIBLE',
       'Free and Reduced Lunch Students [Public School] 2018-19' : 'FREE AND REDUCED LUNCH ELIGIBLE',
       'Male Students [Public School] 2018-19' : 'MALE STUDENTS',
       'Female Students [Public School] 2018-19' : 'FEMALE STUDENTS',
       'American Indian/Alaska Native Students [Public School] 2018-19' : 'AMERICAN INDIAN',
       'Asian or Asian/Pacific Islander Students [Public School] 2018-19' : 'ASIAN',
       'Hispanic Students [Public School] 2018-19' : 'HISPANIC',
       'Black or African American Students [Public School] 2018-19' : 'BLACK',
       'White Students [Public School] 2018-19' : 'WHITE',
       'Total Race/Ethnicity [Public School] 2018-19' : 'TOTAL RACE/ETHINICITY',
       'Full-Time Equivalent (FTE) Teachers [Public School] 2018-19' : 'FTE TEACHERS',
       'Pupil/Teacher Ratio [Public School] 2018-19' : 'PUPIL-TEACHER RATIO'

})

In [20]:
#df = pd.concat([df1, df2, df3, df4], ignore_index = True)

In [21]:
df1.shape

(100570, 24)

In [22]:
df2.shape

(99860, 24)

In [23]:
df3.shape

(99355, 24)

In [24]:
df4.shape

(99617, 24)

In [25]:
df = pd.concat([df1, df2, df3, df4], ignore_index = True)

In [26]:
df.head()

,SCHOOL,STATE,ID,ABBR,COUNTY,CHARTER,MAGNET,LOCALE,TITLE I,TITLE I ELIGIBLE,...,MALE STUDENTS,FEMALE STUDENTS,AMERICAN INDIAN,ASIAN,HISPANIC,BLACK,WHITE,TOTAL RACE/ETHINICITY,FTE TEACHERS,PUPIL-TEACHER RATIO
0,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,2.507320e+11,MA,Middlesex County,2-No,2-No,21-Suburb: Large,1-Yes,1-Yes,...,687,611,1,34,540,38,648,1298.0,112.82,11.51
1,10TH STREET SCHOOL,Washington,5.304860e+11,WA,Snohomish County,2-No,–,22-Suburb: Mid-size,1-Yes,1-Yes,...,77,94,8,5,20,1,122,171.0,7.3,23.42
2,112 ALC INDEPENDENT STUDY,Minnesota,2.708190e+11,MN,Carver County,2-No,2-No,21-Suburb: Large,†,2-No,...,24,10,0,1,10,0,22,34.0,–,–
3,112 ALC MIDDLE SCHOOL,Minnesota,2.708190e+11,MN,Carver County,2-No,2-No,21-Suburb: Large,†,2-No,...,65,65,0,5,32,8,82,130.0,2.7,48.15
4,12TH STREET ELEMENTARY,Michigan,2.628950e+11,MI,Kalamazoo County,2-No,2-No,13-City: Small,†,2-No,...,292,302,0,68,27,48,406,594.0,31.5,18.86

In [27]:
df.shape

(399402, 24)

In [28]:
##df.to_csv('model-selection-15-19.csv')