In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('feature-selection.csv', index_col = 0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285474 entries, 0 to 285473
Data columns (total 24 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   SCHOOL                           285465 non-null  object
 1   STATE                            285453 non-null  object
 2   ID                               285453 non-null  float64
 3   ABBR                             285453 non-null  object
 4   COUNTY                           285453 non-null  object
 5   CHARTER                          285453 non-null  object
 6   MAGNET                           285453 non-null  object
 7   LOCALE                           285453 non-null  object
 8   TITLE I                          285453 non-null  object
 9   TITLE I ELIGIBLE                 285453 non-null  object
 10  TOTAL STUDENTS                   285453 non-null  object
 11  FREE LUNCH ELIGIBLE              285453 non-null  object
 12  REDUCED PRICE LUNCH ELIGIBLE     285453 non-null  object
 13  FREE AND REDUCED LUNCH ELIGIBLE  285453 non-null  object
 14  MALE STUDENTS                    285453 non-null  object
 15  FEMALE STUDENTS                  285453 non-null  object
 16  AMERICAN INDIAN                  285453 non-null  object
 17  ASIAN                            285453 non-null  object
 18  HISPANIC                         285453 non-null  object
 19  BLACK                            285453 non-null  object
 20  WHITE                            285453 non-null  object
 21  TOTAL RACE/ETHINICITY            285453 non-null  object
 22  FTE TEACHERS                     285453 non-null  object
 23  PUPIL-TEACHER RATIO              285453 non-null  object
dtypes: float64(1), object(23)
memory usage: 54.4+ MB

In [4]:
invalid_title_i = df[~df['TITLE I ELIGIBLE'].isin(['1-Yes', '2-No']) == True].index

In [5]:
df.drop(invalid_title_i, inplace = True)
df.reset_index = True
df.shape

(271728, 24)

In [6]:
df['FREE LUNCH ELIGIBLE'].isna().sum()

0

In [7]:
df['FREE LUNCH ELIGIBLE NUMERIC'] = df['FREE LUNCH ELIGIBLE'].apply( lambda x : int(x) if str(x).isdigit() else None)

In [8]:
df.drop(df[df['FREE LUNCH ELIGIBLE NUMERIC'].isna() == True].index, inplace = True)

In [9]:
df.shape

(230597, 25)

In [10]:
df['REDUCED PRICE LUNCH ELIGIBLE NUMERIC'] = df['REDUCED PRICE LUNCH ELIGIBLE'].apply( lambda x : int(x) if str(x).isdigit() else None)

In [11]:
df['REDUCED PRICE LUNCH ELIGIBLE NUMERIC'].isna().sum()

1

In [12]:
df.drop(df[df['REDUCED PRICE LUNCH ELIGIBLE NUMERIC'].isna() == True].index, inplace = True)

In [13]:
df['FREE AND REDUCED LUNCH ELIGIBLE'].isna().sum()

0

In [14]:
df.shape

(230596, 26)

In [15]:
def replace_nan_zero(x):
    if str(x).isdigit():
        return x
    else:
        return 0

In [16]:
df['AMERICAN INDIAN'] = df['AMERICAN INDIAN'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['ASIAN'] = df['ASIAN'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['HISPANIC'] = df['HISPANIC'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['BLACK'] = df['BLACK'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['WHITE'] = df['WHITE'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['TOTAL RACE/ETHINICITY'] = df['TOTAL RACE/ETHINICITY'].apply( lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['FTE TEACHERS'] = df['FTE TEACHERS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['MALE STUDENTS'] = df['MALE STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['FEMALE STUDENTS'] = df['FEMALE STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['PUPIL-TEACHER RATIO'] = df['PUPIL-TEACHER RATIO'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['TOTAL STUDENTS'] = df['TOTAL STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['FREE LUNCH ELIGIBLE'] = df['FREE LUNCH ELIGIBLE'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['TOTAL STUDENTS'] = df['TOTAL STUDENTS'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['REDUCED PRICE LUNCH ELIGIBLE'] = df['REDUCED PRICE LUNCH ELIGIBLE'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)
df['FREE AND REDUCED LUNCH ELIGIBLE'] = df['FREE AND REDUCED LUNCH ELIGIBLE'].apply(lambda x : replace_nan_zero(x)).apply(pd.to_numeric)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230596 entries, 0 to 285466
Data columns (total 26 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   SCHOOL                                230596 non-null  object
 1   STATE                                 230596 non-null  object
 2   ID                                    230596 non-null  float64
 3   ABBR                                  230596 non-null  object
 4   COUNTY                                230596 non-null  object
 5   CHARTER                               230596 non-null  object
 6   MAGNET                                230596 non-null  object
 7   LOCALE                                230596 non-null  object
 8   TITLE I                               230596 non-null  object
 9   TITLE I ELIGIBLE                      230596 non-null  object
 10  TOTAL STUDENTS                        230596 non-null  int64
 11  FREE LUNCH ELIGIBLE                   230596 non-null  int64
 12  REDUCED PRICE LUNCH ELIGIBLE          230596 non-null  int64
 13  FREE AND REDUCED LUNCH ELIGIBLE       230596 non-null  int64
 14  MALE STUDENTS                         230596 non-null  int64
 15  FEMALE STUDENTS                       230596 non-null  int64
 16  AMERICAN INDIAN                       230596 non-null  int64
 17  ASIAN                                 230596 non-null  int64
 18  HISPANIC                              230596 non-null  int64
 19  BLACK                                 230596 non-null  int64
 20  WHITE                                 230596 non-null  int64
 21  TOTAL RACE/ETHINICITY                 230596 non-null  int64
 22  FTE TEACHERS                          230596 non-null  int64
 23  PUPIL-TEACHER RATIO                   230596 non-null  int64
 24  FREE LUNCH ELIGIBLE NUMERIC           230596 non-null  float64
 25  REDUCED PRICE LUNCH ELIGIBLE NUMERIC  230596 non-null  float64
dtypes: float64(3), int64(14), object(9)
memory usage: 47.5+ MB

In [18]:
df.to_csv('feature-selection-clean.csv')